* { box-sizing: border-box; }

@media (min-width: 600px) {
  main { flex-wrap: nowrap; }
  div { flex-basis: 100%; }
}

@media (max-width: 45em) {
  .tabs .tab,  .tabs label {
    -webkit-box-ordinal-group: NaN;
    -webkit-order: initial;
    -ms-flex-order: initial;
    order: initial;
  }
  
  .tabs input[type="radio"]:checked + label + .tab { order: 0; }

  .tabs label { width: 100%; margin-right: 0; margin-top: 0.2rem; }
}

html {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1rem;
  color: #FFFFFF;
  text-align: center;
  /* the following lines creates a perfect full page background */
  /* check the link below for detailed explanation */
  /* https://css-tricks.com/perfect-full-page-background-image/#article-header-id-0 */
  /*background: url("space.jpg") no-repeat center center fixed;*/
  background-color: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; /* fix for android devices */
  /* overflow: hidden; */ /* fix for android devices, currently disabled for desktops */
}

body {
  min-height: 100vh;
	/*padding-top: 10vh;*/
  padding-top: 1vh;
  font-weight: 300;
  line-height: 1.5;
  max-width: 60rem; /* if you set it 100% there will be horizontal scrollbars */
  margin: 0 auto;
  font-size: 112%;
}

main {
  background: #000000;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  border: 2px solid #bfdfff;
  border-radius: 1.5em;
  padding: 1em 0.5em;
}

hr { width: 100%; } /* set width of horizontal line to be 100% of the container */

.blink { animation: blink 1s infinite; }

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

input { text-align: center; }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

input[type=number], input[type=text] { font-size: 1em; }

select { font-size: 1em; }

.notificationarea {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.notificationicons {
  border-bottom: 2px solid #bfdfff;
  flex: 0 1 auto;
  margin: 10px;
  width: 2em;
  height: 2em;
  border-radius: 0.5em;
}

.notificationicons:hover { border-bottom: 2px solid #80ecff; cursor: pointer; }

.checkissues { background: url("cubes_48.png"); } /* First load the image then set its properties */
.usermessages { background: url("messages_48.png"); }
.sysinfo { background: url("settings_48.png"); background-color: black; } /* set background-color because css filter: invert(1) equals background-color and picture if there is alpha channel as in PNGs */

.checkissues, .usermessages, .sysinfo {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* text outlines */
  color: yellow;
  position: relative;
}

.prodissuepic { width: 100px; }
.warehousepics { width: 200px; }

.notificationicons img, .checkissues img, .usermessages img, .sysinfo img { max-width: 100%; }

.licensearea { width: auto; }
#licenseimg { border-width: 0; height: auto; width: 100%; } /* Lighthouse audit fix */

#productissues, #usermessages, #sysinfodata {
  position: absolute;
  top: -40%;
  right: -20%;
}

#sysinfodata { font-size: 1.5em; }

#checkissuespopupclose, #usermessagespopupclose {
  cursor: pointer;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* text outlines */
  color: yellow;
  background-color: black;
  border: 1px solid black;
  border-radius: 1.5em;
  position: sticky; /* this sticks the close button */
  top: 0;
  right: 1%;
  left: 99%;
  width: 50px;
}

#checkissuespopupclose:hover, #usermessagespopupclose:hover {
  color: black;
  background-color: yellow;
  border: 1px solid black;
}

.checkissues:hover, .usermessages:hover, .sysinfo:hover {
  filter: invert(1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.switchlocalization:hover { color: black; background-color: white; }

.licensearea:hover { filter: invert(1); }

#checkissuespopup, #usermessagespopup {
  border: 2px solid #80ecff;
  /*border-radius: 1.5em;*/
  height: 480px;
  overflow: auto;
  position: absolute;
  width: 50%;
  margin: 0 auto;
  top: 20%;
  left: 25%;
  text-align: center;
  background: white;
  color: black;
  box-shadow: 0px 0px 10px 0px black;
}

#overlayissues, #overlaymessages {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 auto;
  z-index: 9999;
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    rgba(0, 0, 0, 0.3) 1px,
    rgba(0, 0, 0, 0.3) 20px
  );
  backdrop-filter: blur(3px);
}

.marketsarea {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.marketsicons {
  border-bottom: 2px solid #bfdfff;
  flex: 0 1 auto;
  margin: 10px;
  width: auto;
  height: auto;
  border-radius: 0.5em;
}

.marketsicons:hover {
  border-bottom: 2px solid #80ecff;
  cursor: pointer;
  color: black;
  background-color: white;
}

.allsales {
  font-weight: bold;
  color: black;
  border-top: 2px solid #bfdfff;
  background-color: white;
}

.allsales:hover { color: black; background-color: #bfdfff; border-color: #ff0000;}

#issuesresults table {
  border-collapse: collapse;
  border: 1px solid black;
  table-layout: fixed;
  border-spacing: 0;
  padding: 0;
  word-break: break-word;
}

#issuesresults td, tr, th { border: 1px solid black; border-spacing: 0; padding: 0; }

/* both variants work, the one with ASCII code widens a bit the button */
.warehouserequest::before { content: "C"; }
.warehouserequest { border-radius: 50%; outline: none; }
.warehouserequestchecked::before { content: "L"; }
.warehouserequestchecked { background-color: green; transform: rotate(45deg) scaleX(-1); }
/*.warehouserequestchecked::before { content: "\2713"; }*/
/*.warehouserequestchecked { background-color: green; }*/

#addtable {
  border-collapse: collapse;
  border: none;
  table-layout: fixed;
  max-width: 600px;
  max-height: 600px;
  border-spacing: 0;
  padding: 0;
}

#addtable th, #addtable tr, #addtable td { border: none; }

.xxx > *, .xxx > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.xxx > * { flex-direction: row; }
.xxx > div { flex-direction: column; }

.xxx > button { margin: 0 auto; }

.visuallyhidden { /* Lighthouse audit fix taken from https://www.w3.org/WAI/tutorials/forms/labels/#note-on-hiding-elements */
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#hiddenaddinput, #addproduct, #setmonitoring { visibility: hidden; }

.setmonitoringbutton {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  outline: none;
  text-decoration: none;
  /*color: white;*/
  /*border: 2px solid #80ecff;*/
  /*border-radius: 1.5em;*/
  border: none;
  cursor: pointer;
  background: url("image-not-available.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-color: #80ecff;
  /*font-weight: bold;*/
  margin: 1em 0;
  padding: 1em 1em;
}

.setmonitoringbutton:hover { cursor: pointer; box-shadow: 0 0 7px #0080ff; }

.productmonitoringenabled { background: url("monitored_48.png"); background-color: #80ecff; } /* First load the image then set its properties */
.productmonitoringdisabled { background: url("notmonitored_48.png"); background-color: #ff0000; }

.productmonitoringenabled, .productmonitoringdisabled {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/*dialog::backdrop { /* Carbon effect on foreground */
  /*background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    rgba(0, 0, 0, 0.3) 1px,
    rgba(0, 0, 0, 0.3) 20px
  );
  backdrop-filter: blur(3px);*/
/*}*/

/*#checkissuespopup::backdrop, #usermessagespopup::backdrop { /* Carbon effect on foreground */
  /*background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    rgba(0, 0, 0, 0.3) 1px,
    rgba(0, 0, 0, 0.3) 20px
  );
  backdrop-filter: blur(3px);*/
/*}*/

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* this is a rendering optimisation, DO NOT use it for elements that store data because they must be visible in DOM */
/*.tab {
  contain-visibility: auto;
  contain-intrinsic-size: 1px 5000px;
}*/

.tabs label {
  display: block;
  padding: 1rem 1rem;
  margin-right: 0.2rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
  -webkit-transition: background ease 0.2s;
  transition: background ease 0.2s;
  border-radius: 1.5em;
}

.tabs .tab {
  -webkit-box-ordinal-group: 100;
  -webkit-order: 99;
  -ms-flex-order: 99;
  order: 99;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
}

.tabs input[type="radio"] { position: absolute; opacity: 0; }

.tabs input[type="radio"]:hover + label { background: yellow; color: black; border-radius: 1.5em; }

.tabs input[type="radio"]:checked + label { background: white; color: black; border-radius: 1.5em; }

.tabs input[type="radio"]:checked + label + .tab { display: block; }

.addproduct-form, .sellproduct-form, .searchproduct-form, .customerbanlist-form, .bancustomer-form, .restockproduct-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* This fixes the nasty bug of clicking in the middle of the viewport that opens the last tab */
#tabone, #tabtwo, #tabthree, #tabfour { pointer-events: none; }

#prodpicture { overflow: hidden; height: auto; width: 75%; object-fit: scale-down; }

.fileuploadbutton { width: 0px; display: none; visibility: collapse; }

#number, #customerphonenumber { height: 48px; margin: 0 0 8px 0; } /* Lighthouse audit fix */

.addproductbutton, .prodpicuploadbutton, .checkproductbutton, .searchproductbutton, .sellproductbutton, .soldproductsbutton, .customerbanlistbutton, .bancustomerbutton, .restockproductbutton {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  outline: none;
  text-decoration: none;
  color: white;
  border: 2px solid #80ecff;
  border-radius: 1.5em;
  cursor: pointer;
  background-color: #000000;
  font-weight: bold;
  margin: 1em 0;
  padding: 1em 1em;
}

#checkproduct { height: 48px; margin: 0 0 8px 25%; } /* Lighthouse audit fix */

.prodpicuploadbutton { margin: 0; padding: 0; }

.addproductbutton:hover, .prodpicuploadbutton:hover, .checkproductbutton:hover, .searchproductbutton:hover, .sellproductbutton:hover, .soldproductsbutton:hover, .customerbanlistbutton:hover, .bancustomerbutton:hover, .restockproductbutton:hover {
  cursor: pointer;
  box-shadow: 0 0 7px #0080ff;
  background-color: #80ecff;
  color: black;
}

/*.new-product-results, .search-product-results, .sell-product-results, .sold-products-results, .customerbanlist-results, .bancustomer-results, .restock-product-results {
  border: 2px solid #bfdfff;
  border-radius: 1.5em;
  padding: 0 1em;
}*/

.sold-products-results { height: 240px; overflow-y: scroll; display: none; }

#soldproductsresults table {
  border-collapse: collapse;
  border: 1px solid white;
  table-layout: fixed;
  border-spacing: 0;
  padding: 0;
  word-break: break-word;
}

#soldproductsresults th, tr, td { border: 1px solid white; border-spacing: 0; padding: 0; }

.divtable { display: table; width: 100%; }
.divrow { display: table-row; }
/*.divheader { display: table-header-group; font-weight: bold; background-color: #EEE; }*/
.divtableheadcell { font-weight: bold; background-color: #EEE; }
.divtablecell, .divtableheadcell { display: table-cell; border: 1px solid #999999; padding: 3px 10px; text-align: center; vertical-align: middle; }
.divtablefoot { display: table-footer-group; }
.divtablebody { display: table-row-group; }

/*abcd*/