* {
  box-sizing: border-box;
}

@media (min-width: 600px) {
  main {
    flex-wrap: nowrap;
  }

  div {
    flex-basis: 100%;
  }
}

@media (max-width: 45em) {
  .tabs .tab,  .tabs label {
    -webkit-box-ordinal-group: NaN;
    -webkit-order: initial;
    -ms-flex-order: initial;
    order: initial;
  }
  
  .tabs input[type="radio"]:checked + label + .tab {
    order: 0;
  }

  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

html {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1rem;
  color: #FFFFFF;
  text-align: center;
  /* the following lines creates a perfect full page background */
  /* check the link below for detailed explanation */
  /* https://css-tricks.com/perfect-full-page-background-image/#article-header-id-0 */
  /*background: url("space.jpg") no-repeat center center fixed;*/
  background-color: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; /* fix for android devices */
  /* overflow: hidden; */ /* fix for android devices, currently disabled for desktops */
}

body {
  min-height: 100vh;
	padding-top: 10vh;
  font-weight: 300;
  line-height: 1.5;
  max-width: 60rem;
  margin: 0 auto;
  font-size: 112%;
}

main {
  background: #000000;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  border: 2px solid #bfdfff;
  border-radius: 1.5em;
  padding: 1em 0.5em;
}

hr {
  width: 100%;
}

.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*textarea {
  resize: none;
}*/

input {
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

input[type=number], input[type=text] {
  font-size: 1em;
}

select {
  font-size: 1em;
}

.notificationarea {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.notificationicons {
  border-bottom: 2px solid #bfdfff;
  flex: 0 1 auto;
  margin: 10px;
  width: 2em;
  height: 2em;
  border-radius: 0.5em;
}

.notificationicons:hover {
  border-bottom: 2px solid #80ecff;
  cursor: pointer;
}

.checkissues {
  background: url("icons8-sugar-cubes-50.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.usermessages {
  background: url("icons8-messaging-48.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.checkissues, .usermessages {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* text outlines */
  color: yellow;
  position: relative;
}

#checkissuespopupclose, #usermessagespopupclose {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* text outlines */
  color: yellow;
  cursor: pointer;
  position: absolute;
  top: 0%;
  right: 1%;
  /*position: relative;*/
}

#checkissuespopupclose:hover, #usermessagespopupclose:hover {
  color: black;
  background-color: yellow;
}

.checkissues:hover {
  background: url("icons8-sugar-cubes-50-inverted.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.usermessages:hover {
  background: url("icons8-messaging-48-inverted.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.switchlocalization:hover {
  color: black;
  background-color: white;
}

#checkissuespopup {
  border: 2px solid #80ecff;
  /*border-radius: 1.5em;*/
  height: 480px;
  overflow: auto;
}

#usermessagespopup {
  border: 2px solid #80ecff;
  /*border-radius: 1.5em;*/
  height: 480px;
  overflow: auto;
}

#checkproduct {
  ;
}

dialog::backdrop {
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    rgba(0, 0, 0, 0.3) 1px,
    rgba(0, 0, 0, 0.3) 20px
  );
  backdrop-filter: blur(3px);
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.maintable {
  border-collapse: collapse;
  width: auto !important;
  table-layout: fixed;
  word-break: break-word;
}

.maintable > th, td {
  border: 1px solid white;
}

#productissues, #usermessages {
  position: absolute;
  top: -40%;
  right: -20%;
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* rendering optimisation, DO NOT use it for elements storing data because they must be visible in DOM */
/*.tab {
  contain-visibility: auto;
  contain-intrinsic-size: 1px 5000px;
}*/

.tabs label {
  /*-webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;*/
  display: block;
  padding: 1rem 1rem;
  margin-right: 0.2rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
  -webkit-transition: background ease 0.2s;
  transition: background ease 0.2s;
  border-radius: 1.5em;
}

.tabs .tab {
  -webkit-box-ordinal-group: 100;
  -webkit-order: 99;
  -ms-flex-order: 99;
  order: 99;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
}

.tabs input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.tabs input[type="radio"]:hover + label { background: yellow; color: black; border-radius: 1.5em; }

.tabs input[type="radio"]:checked + label { background: white; color: black; border-radius: 1.5em; }

.tabs input[type="radio"]:checked + label + .tab { display: block; }

.addproduct-form, .searchproduct-form, .sellproduct-form, .customerbanlist-form, .bancustomer-form, .restockproduct-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/* This fixes the nasty bug of clicking in the middle of the viewport that opens the last tab */
#tabone, #tabtwo, #tabthree, #tabfour, #tabfive {
  pointer-events: none;
}

.search-product-results > * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.search-product-results {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 0;
}

/*.searchresultstable { table-layout: fixed; width: 100%; visibility: collapse; }
.searchresultstable input { width: 100%; }*/

#prodpicture {
  overflow: hidden;
  width: 50%;
}

#prodpicture img {
  overflow: hidden;
  height: 100%;
  /*width: 100%;*/
  object-fit: scale-down;
  margin-top: 1rem;
}

/*.fileuploadbutton {
  border: 2px solid #bfdfff;
  border-radius: 1.5em;
  cursor: pointer;
}

.fileuploadbutton:hover {
  cursor: pointer;
  box-shadow: 0 0 7px #0080ff;
  border-color: #80ecff;
  color: #80ecff;
}*/

.fileuploadbutton {
  width: 0px;
  display: none;
  visibility: collapse;
}

.addproductbutton, .prodpicuploadbutton, .checkproductbutton, .searchproductbutton, .sellproductbutton, .soldproductsbutton, .customerbanlistbutton, .bancustomerbutton, .restockproductbutton {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  
  outline: none;

  text-decoration: none;
  color: white;
  
  border: 2px solid #80ecff;
  border-radius: 1.5em;
  cursor: pointer;
  
  background-color: #000000;
  font-weight: bold;
  
  margin: 1em 0;
  padding: 1em 1em;
}

.prodpicuploadbutton {
  margin: 0;
}

.addproductbutton:hover, .prodpicuploadbutton:hover, .checkproductbutton:hover, .searchproductbutton:hover, .sellproductbutton:hover, .soldproductsbutton:hover, .customerbanlistbutton:hover, .bancustomerbutton:hover, .restockproductbutton:hover {
  cursor: pointer;
  box-shadow: 0 0 7px #0080ff;
  background-color: #80ecff;
  color: black;
}

.new-product-results, .search-product-results, .sell-product-results, .sold-products-results, .customerbanlist-results, .bancustomer-results, .restock-product-results {
  border: 2px solid #bfdfff;
  border-radius: 1.5em;
  padding: 0 1em;
}

#loadingTime, #licensearea {
  justify-content: center;
  align-content: center;
  align-items: center;
  line-height: 1.2;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 2px solid #bfdfff;
  border-radius: 1.5em;
  background-color: rgba(0, 0, 0, 0.90);
}

#loadingTime:hover, #licensearea:hover {
  cursor: pointer;
  box-shadow: 0 0 7px #0080ff;
  border-color: #80ecff;
  color: #80ecff;
}
